services:
  irremote:
    image: ghcr.io/yanorei32/web-ir-remote:0.1.1
    hostname: irremote
    container_name: irremote${VARIANT:-}__irremote
    restart: unless-stopped

    environment:
      LISTEN: 0.0.0.0:3000
      TARGET: ${TARGET}

    volumes:
      - type: bind
        source: ./config/ir-remote.xml
        target: /etc/ir-remote.xml
        read_only: true

      - type: bind
        source: ./config/${CONTROLLER}/
        target: /etc/${CONTROLLER}/
        read_only: true

    command: /usr/bin/web-ir-remote

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      - default

  cloudflared:
    image: cloudflare/cloudflared:2026.1.1@sha256:5bb6a0870686742d00e171f36c892ba91e5994631bc363d808b9ba822262dad6
    hostname: cloudflared
    container_name: irremote${VARIANT:-}__cloudflared

    restart: unless-stopped

    environment:
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    deploy:
      resources:
        limits:
          memory: 128m

    networks:
      default:

networks:
  default:
    name: irremote${VARIANT:-}__default
